// color codes

$deep-purple: #3607a6;
$deep-purple-1: #4709d7;
$deep-purple-2: #5814f5;
$deep-purple-3: #6628f6;
$deep-purple-4: #733bf7;
$deep-purple-5: #814ff8;
$deep-purple-6: #8f62f8;
$deep-purple-7: #3a07b0;
$deep-purple-8: #ba9efa;
$deep-purple-9: #d5c5fc;
$deep-purple-10: #e3d8fd;

$vivid-navy: #221fe0;
$vivid-navy-1: #3c3ae4;
$vivid-navy-2: #4e4be7;
$vivid-navy-3: #605de9;
$vivid-navy-4: #716feb;
$vivid-navy-5: #8381ee;
$vivid-navy-6: #9593f0;
$vivid-navy-7: #a7a5f3;
$vivid-navy-8: #bab7f6;
$vivid-navy-9: #cbc9f8;
$vivid-navy-10: #dcdafb;

$strong-purple: #7a11b1;
$strong-purple-1: #8c14cc;
$strong-purple-2: #9916df;
$strong-purple-3: #aa33eb;
$strong-purple-4: #b245ed;
$strong-purple-5: #c16af0;
$strong-purple-6: #c97df2;
$strong-purple-7: #d9a2f6;
$strong-purple-8: #e0b5f8;
$strong-purple-9: #e8c7fa;
$strong-purple-10: #f0d9fc;

$vivid-pink: #f92c8b;
$vivid-pink-1: #f94d9d;
$vivid-pink-2: #f962a8;
$vivid-pink-3: #fa75b3;
$vivid-pink-4: #fb89be;
$vivid-pink-5: #fb9dc9;
$vivid-pink-6: #fcb1d4;
$vivid-pink-7: #fdc4df;
$vivid-pink-8: #fed8e9;
$vivid-pink-9: #feebf4;
$vivid-pink-10: #fdf5f9;

$light-blue: #54c7ea;
$light-blue-1: #6ecfed;
$light-blue-2: #80d5ef;
$light-blue-3: #92dbf2;
$light-blue-4: #a4e1f4;
$light-blue-5: #b6e7f6;
$light-blue-6: #c9edf8;
$light-blue-7: #d7eef8;
$light-blue-8: #dbf3fa;
$light-blue-9: #e4f3f9;
$light-blue-10: #edf9fd;

$bright-cyan: #2ed1a1;
$bright-cyan-1: #47d7ac;
$bright-cyan-2: #58dab3;
$bright-cyan-3: #68debb;
$bright-cyan-4: #79e2c2;
$bright-cyan-5: #8ae5ca;
$bright-cyan-6: #9be9d1;
$bright-cyan-7: #abedd9;
$bright-cyan-8: #bcf1e1;
$bright-cyan-9: #cdf4e8;
$bright-cyan-10: #def8f0;

$background-color: #e5e5e5;
$default-text-color: #666666;
$border-color: lightgrey;
$checkbox-color: #0897ff;

// fonts
$default-font-family: 'Lato';

